@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';

body {
    background: linear-gradient(to top right, #09203F, #537895);
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.navbar a {
    margin-right: 20px;
    color: #09203F;
    text-decoration: none;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding-top: 20px;
}

.title {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 80px;
    font-weight: 100;
    text-align: center;
    margin: 0;
    color: white;
}

.subtitle {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    margin: 0;
    color: rgb(231, 231, 231);
}

.content-frame {
    background-color: white;
    padding: 20px;
    margin: 40px;
    text-align: center;
    border-radius: 10px;
}